@model ExploreCalifornia.Models.Post
@{
    //ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<fieldset>
    @using (Html.BeginForm())
    {
        <p>
            @Html.LabelFor(x => x.Title)
            @Html.TextAreaFor(x => x.Title)
        </p>
        <p>
            @Html.LabelFor(x => x.Body)
            @Html.TextAreaFor(x => x.Body)
        </p>
        
        <div>
            <button type="submit">Create Post</button>
        </div>

    }

</fieldset>

